@import url('components.css');

section{
   padding: 60px 0 !important;
}
.home-bg{
   background: url(../images/home.png) no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
   position: relative;
}

.home-bg .overlay {
   
   background-color: #00000029;
   position: absolute;
   top:0;
   bottom: 0;
   height: 100%;
   width: 100%;
   transition: all ease-in-out .50s;
}

.home-bg .home{
   display: flex;
   align-items: center;
   min-height: 60vh;
   height: 100%;
   position: relative;
   z-index: 998;
}

.home-bg .home .content{
   width: 60rem;
}

.home-bg .home .content span{
   color:var(--orange);
   font-size: 3.3rem;
   text-shadow: 0px 1px black;
}

.home-bg .home .content h3{
   font-size: 5rem;
   text-transform: uppercase;
   margin-top: 1.5rem;
   color:var(--black);
}

.home-bg .home .content p{
   font-size: 2.4rem;
   padding:1rem 0;
   line-height: 2;
   color:var(--light-color);
}

.home-bg .home .content a{
   display: inline-block;
   width: auto;
}


.products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.products .box-container .box{
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   position: relative;
}

.products .box-container .box p{
   line-height: 1.5;
   padding:.5rem 0;
   font-size: 2rem;
   color:var(--light-color);
}

.products .box-container .box p span{
   color:var(--green);
}

.products .box-container .box .price{
   position: absolute;
   top:1rem; left:1rem;
   padding:1rem;
   border-radius: .5rem;
   background-color: var(--red);
   font-size: 1.8rem;
   color:var(--white);
}

.products .box-container .box .price span{
   font-size: 2.5rem;
   color:var(--white);
   margin:0 .2rem;
}

.products .box-container .box .fa-eye{
   position: absolute;
   top:1rem; right:1rem;
   border-radius: .5rem;
   height: 4.5rem;
   line-height: 4.3rem;
   width: 5rem;
   border:var(--border);
   color:var(--black);
   font-size: 2rem;
   background-color: var(--white);
}

.products .box-container .box .fa-eye:hover{
   color:var(--white);
   background-color: var(--black);
}

.products .box-container .box img{
   width: 100%;
   margin-bottom: 1rem;
}

.products .box-container .box .name{
   font-size: 2rem;
   color:var(--black);
   padding:1rem 0;
}

.products .box-container .box .qty{
   margin:.5rem 0;
   border-radius: .5rem;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border:var(--border);
   width: 100%;
}

.heading{
   min-height: 40vh;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
   gap:1rem;
   background: linear-gradient(rgba(12, 12, 12, 0.7), rgba(12, 12, 12, 0.7)), url(../images/heading-bg.png) no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
}

.heading h3{
   font-size: 5rem;
   color:var(--white);
   text-transform: uppercase;
}

.heading p{
   font-size: 2.5rem;
   color:var(--light-white);
}

.heading p a{
   color:var(--green);
   font-weight: bold;
}

.heading p a:hover{
   text-decoration: underline;
}

@keyframes fadeIn {
   0%{
      transform: translateY(1rem);
      opacity: .2s;
   }
}

.home-contact{
   min-height: 40vh;
   background: url(../images/contact1.png) no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
}

.home-contact .content{
   max-width: 60rem;
   text-align: center;

}

.home-contact .content h3{
   font-size: 3rem;
   text-transform: uppercase;
   color:var(--white);
}

.home-contact .content p{
   padding:1rem 0;
   line-height: 1.5;
   color:var(--light-white);
   font-size: 1.7rem;
}

.quick-view .box{
   max-width: 50rem;
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   position: relative;
   margin:0 auto;
}

.quick-view .box img{
   height: 25rem;
   margin-bottom: 1rem;
}

.quick-view .box .price{
   position: absolute;
   top:1rem; left:1rem;
   padding:1rem;
   border-radius: .5rem;
   background-color: var(--red);
   font-size: 1.8rem;
   color:var(--white);
}

.quick-view .box .price span{
   font-size: 2.5rem;
   color:var(--white);
   margin:0 .2rem;
}

.quick-view .box .qty{
   margin:.5rem 0;
   border-radius: .5rem;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border:var(--border);
   width: 100%;
}

.quick-view .box .name{
   font-size: 2rem;
   color:var(--black);
   padding:1rem 0;
}

.quick-view .box .details{
   padding:1rem 0;
   line-height: 2;
   font-size: 1.5rem;
   color:var(--light-color);
}

.p-category{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.p-category{
   padding-bottom: 0;
}

.p-category a{
   padding:1.5rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   font-size: 2rem;
   text-transform: capitalize;
   color:var(--black);
}

.p-category a:hover{
   background-color: var(--black);
   color: var(--white);
}

.seller .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 40rem);
   gap:1.5rem;
   align-items: flex-start;
   justify-content:center;
}

.seller .box-container .box{
   border:var(--border);
   box-shadow: var(--box-shadow);
   background-color: var(--white);
   border-radius: .5rem;
   padding:2rem;
   text-align: center;
}

.seller .box-container .box img{
   height: 15rem;
   width: 15rem;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 1rem;
}

.seller .box-container .box p{
   line-height: 1.5;
   padding:.5rem 0;
   font-size: 2rem;
   color:var(--light-color);
}

.seller .box-container .box p span{
   color:var(--green);
}

.about .flex{
   max-width: 1200px;
   margin:0 auto;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.about .flex .image{
   flex:1 1 40rem;
   border:var(--border);
   box-shadow: var(--box-shadow);

}

.about .flex .image img{
   width: 100%;
}

.about .flex .content{
   flex:1 1 40rem;
   padding:2rem;
   background-color: var(--white);
}

.about .flex .content h3{
   font-size: 3rem;
   color:var(--black);
   text-transform: uppercase;
}

.about .flex .content p{
   padding:1rem 0;
   line-height: 2;
   font-size: 1.7rem;
   color:var(--light-color);
}

.authors .box-container{
   max-width: 1200px;
   margin:0 auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
   align-items: center;
   gap:1.5rem;
   justify-content: center;
}

.authors .box-container .box{
   position: relative;
   text-align: center;
   border:var(--border);
   box-shadow: var(--box-shadow);
   overflow: hidden;
   border-radius: .5rem;
}

.authors .box-container .box img{
   width: 100%;
   height: 30rem;
   object-fit: cover;
}

.authors .box-container .box .share{
   position: absolute;
   top:0; left:-10rem;
}

.authors .box-container .box:hover .share{
   left: 1rem;
}

.authors .box-container .box .share a{
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.5rem;
   font-size: 2rem;
   background-color: var(--white);
   border:var(--border);
   display: block;
   margin-top: 1rem;
   color:var(--black);
}

.authors .box-container .box .share a:hover{
   background-color: var(--black);
   color:var(--white);
}

.authors .box-container .box h3{
   font-size: 2.5rem;
   color:var(--black);
   padding:1.5rem;
   background-color: var(--white);
}

.contact form{
   margin:0 auto;
   max-width: 50rem;
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   padding-top: 1rem;
}

.contact form .box{
   width: 100%;
   padding:1.2rem 1.4rem;
   border:var(--border);
   margin:1rem 0;
   background-color: var(--light-bg);
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
}

.contact form textarea{
   height: 15rem;
   resize: none;
}

.search-form form{
   display: flex;
   gap:1.5rem;
   align-items: center;
}

.search-form form .box{
   width: 100%;
   padding:1.4rem;
   border:var(--border);
   margin:1rem 0;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   font-size: 2rem;
   color:var(--black);
   border-radius: .5rem;
}

.search-form form .btn{
   display: inline-block;
   width: auto;
   margin-top: 0;
}

.wishlist .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.wishlist .box-container .box{
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   position: relative;
}

.wishlist .box-container .box .price{
   padding:1rem 0;
   color:var(--red);
   font-size: 2.5rem;
}

.wishlist .box-container .box .price span{
   font-size: 2.5rem;
   color:var(--white);
   margin:0 .2rem;
}

.wishlist .box-container .box .fa-eye{
   position: absolute;
   top:1rem; right:1rem;
   border-radius: .5rem;
   height: 4.5rem;
   line-height: 4.3rem;
   width: 5rem;
   border:var(--border);
   color:var(--black);
   font-size: 2rem;
   background-color: var(--white);
}

.wishlist .box-container .box .fa-eye:hover{
   color:var(--white);
   background-color: var(--black);
}

.wishlist .box-container .box .fa-times{
   position: absolute;
   top:1rem; left:1rem;
   border-radius: .5rem;
   height: 4.5rem;
   line-height: 4.3rem;
   width: 5rem;
   color:var(--white);
   font-size: 2rem;
   background-color: var(--red);
}

.wishlist .box-container .box .fa-times:hover{
   background-color: var(--black);
}

.wishlist .box-container .box img{
   width: 100%;
   margin-bottom: 1rem;
}

.wishlist .box-container .box .name{
   font-size: 2rem;
   color:var(--black);
   padding-top: 1rem;
}

.wishlist .box-container .box .qty{
   margin:.5rem 0;
   border-radius: .5rem;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border:var(--border);
   width: 100%;
}

.wishlist .wishlist-total{
   max-width: 50rem;
   margin: 0 auto;
   margin-top: 2rem;
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.wishlist .wishlist-total p{
   margin-bottom: 2rem;
   font-size: 2.5rem;
   color:var(--light-color);
}

.wishlist .wishlist-total p span{
   color:var(--red);
}

.shopping-cart .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.shopping-cart .box-container .box{
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   position: relative;
}

.shopping-cart .box-container .box .price{
   padding:1rem 0;
   color:var(--red);
   font-size: 2.5rem;
}

.shopping-cart .box-container .box .price span{
   font-size: 2.5rem;
   color:var(--white);
   margin:0 .2rem;
}

.shopping-cart .box-container .box .fa-eye{
   position: absolute;
   top:1rem; right:1rem;
   border-radius: .5rem;
   height: 4.5rem;
   line-height: 4.3rem;
   width: 5rem;
   border:var(--border);
   color:var(--black);
   font-size: 2rem;
   background-color: var(--white);
}

.shopping-cart .box-container .box .fa-eye:hover{
   color:var(--white);
   background-color: var(--black);
}

.shopping-cart .box-container .box .fa-times{
   position: absolute;
   top:1rem; left:1rem;
   border-radius: .5rem;
   height: 4.5rem;
   line-height: 4.3rem;
   width: 5rem;
   color:var(--white);
   font-size: 2rem;
   background-color: var(--red);
}

.shopping-cart .box-container .box .fa-times:hover{
   background-color: var(--black);
}

.shopping-cart .box-container .box img{
   width: 100%;
   margin-bottom: 1rem;
}

.shopping-cart .box-container .box .name{
   font-size: 2rem;
   color:var(--black);
   padding-top: 1rem;
}

.shopping-cart .box-container .box .qty{
   margin-top: 1rem;
   border-radius: .5rem;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border:var(--border);
   width: 100%;
}

.shopping-cart .box-container .sub-total{
   margin-top: 2rem;
   font-size: 2rem;
   color:var(--light-color);
}

.shopping-cart .box-container .sub-total span{
   color:var(--red);
}

.shopping-cart .cart-total{
   max-width: 50rem;
   margin: 0 auto;
   margin-top: 2rem;
   padding:2rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.shopping-cart .cart-total p{
   margin-bottom: 2rem;
   font-size: 2.5rem;
   color:var(--light-color);
}

.shopping-cart .cart-total p span{
   color:var(--red);
}

.display-orders{
   text-align: center;
   padding-bottom: 0;
}

.display-orders p{
   display: inline-block;
   padding:1rem 2rem;
   margin:1rem .5rem;
   font-size: 2rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.display-orders p span{
   color:var(--red);
}

.display-orders .grand-total{
   margin-top: 2rem;
   font-size: 2.5rem;
   color:var(--light-color);
}

.display-orders .grand-total span{
   color:var(--red);
}

.checkout-orders form{
   padding:2rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.checkout-orders form h3{
   border-radius: .5rem;
   background-color: var(--black);
   color:var(--white);
   padding:1.5rem 1rem;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 2rem;
   font-size: 2.5rem;
}

.checkout-orders form .flex{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   justify-content: space-between;
}

.checkout-orders form .flex .inputBox{
   width: 49%;
}

.checkout-orders form .flex .inputBox .box{
   width: 100%;
   border:var(--border);
   border-radius: .5rem;
   font-size: 1.8rem;
   color:var(--black);
   padding:1.2rem 1.4rem;
   margin:1rem 0;
   background-color: var(--light-bg);
}

.checkout-orders form .flex .inputBox span{
   font-size: 1.8rem;
   color:var(--light-color);
}

.placed-orders .box-container{
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   align-items: flex-start;
}

.placed-orders .box-container .box{
   padding:1rem 2rem;
   flex:1 1 40rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
}

.placed-orders .box-container .box p{
   margin:.5rem 0;
   line-height: 1.8;
   font-size: 2rem;
   color:var(--light-color);
}

.placed-orders .box-container .box p span{
   color:var(--green);
}









@media (max-width:768px){

   .home-bg{
      background-position: left;
   }

   .home-bg .home{
      justify-content: center;
      text-align: center;
   }

   .checkout-orders form .flex .inputBox{
      width: 100%;
   }

}

@media (max-width:450px){

   .box-container{
      grid-template-columns: 1fr;
   }

   .products .box-container{
      grid-template-columns: 1fr;
   }

   .authors .box-container{
      grid-template-columns: 1fr;
   }

   .seller .box-container{
      grid-template-columns: 1fr;
   }

   .quick-view .box img{
      height: auto;
      width: 100%;
   }

   .about .row .box img{
      width: 100%;
      height: auto;
   }   

   .shopping-cart .box-container{
      grid-template-columns: 1fr;
   }

   .wishlist .box-container{
      grid-template-columns: 1fr;
   }

}

.navbar{
   min-height: 0 !important;
   margin-bottom: 0 !important;
   position: fixed;
   width: 100%;
   height: 100px;
   background-color: transparent !important;
   z-index: 999;
}

.table-products{
   width: 100%;
   font-size: 2rem;
   text-align: center;
   margin: 5px auto;

}

.table-products .thread-products td{
   border-top: 1px solid #e1e1e1;
   border-bottom: 1px solid #e1e1e1;
   color:var(--light-color);
   padding: 10px 0;
}

.table-products td{
   padding:10px 0;
   color:var(--green);
}

.isDisabled{
   color: currentColor;
   cursor: not-allowed;
   opacity: 0.5;
   text-decoration: none;
}

.details_container{
   display: flex;
   flex-flow: row wrap;
}

.product_image{
   flex: 1 1 50%;
   max-width: 100%;
   border-right: 1px solid #e1e1e1;
   text-align: center;
}

.product_image img{
   max-width: 320px;

}

.product_details{
   flex: 1 1 50%;
   max-width: 100%;  
   padding: 25px;; 
}

.product_details .history{
   width: 95%;
   margin: 20px auto;
   border: 1px solid #e1e1e1;
   height: auto;
   padding: 10px 0;
}

.history .history-item{
   display: flex;
   flex-flow: row wrap;
   position: relative;
   /* padding: 15px 0; */
   margin: 0px auto;
   width: 70%;
}

.history .history-item .status,
.history .history-item .date{ 
   width: 50%;
   font-size: 18px;
   text-align: center;
}

.history .history-item:not(:last-child):after {
   height: 45px;
   width: 2px;
   right: 0;
   left: 0;
   background: #e5e5e5;
   content: " ";
   margin: 0 auto;
}

.product_details p {
   margin: 0.5rem 0;
   line-height: 1.8;
   font-size: 2rem;
   color: var(--light-color);
}



.product_details  p span {
   color: var(--green);
}

.form-group {
   margin-bottom: 10px;
}

.form-group label{
   padding: 10px 2px;
   font-size: 16px;
   margin-right: 10px;
}

.form-group select,
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="number"],
.form-group input[type="password"] {
   height: 37px !important;
   width: 100%;
   border-radius: 4px;
   padding: 0.375rem 0.75rem;
}

span.invalid-feedback {
   color: red;
}

.is-invalid {
   border: 1px solid red;
   -moz-box-shadow:none !important;
   -webkit-box-shadow:none !important;
   box-shadow:none !important;
}

.table {

   font-size: 17px;
}


.container {
   max-width: 1600px;
}

/*PROFILE*/
.profile-wrapper {
   max-width: 1400px;
   margin: 0px auto;
   height: auto;
   border: 1px solid #e1e1e1;
   box-shadow: 7px 0px 38px -11px rgba(0, 0, 0, 0.58);
   padding: 50px;
   position: relative;
}
.profile .basic-info {
   width: 100% !important;
}
.profile .basic-info.short {
   width: 50% !important;
}
.profile .basic-info.medium {
   width: 75% !important;
}
.profile .basic-info-header {
   font-weight: 700;
   font-size: 11px;
}
.profile .basic-info-body {
   /*padding: 25px 50px;*/
   padding: 15px 0px;
}
.profile .basic-info-body label {
   font-size: 11px;
   font-weight: 700;
}
.profile  .info-body-flex {
   display: flex;
   flex-flow: row wrap;
}
.profile .basic-info .info-item {
   width: 100%;
   display: inline-block;
   margin: 0 12.5px;
   margin-bottom: 10px;
}
.profile .basic-info .info-item.xshort {
   width: calc(25% - 25px) !important;
}
.profile .basic-info .info-item.short {
   width: calc(50% - 25px) !important;
}
.profile .basic-info .info-item.medium {
   width: calc(75% - 25px) !important;
}
.profile .basic-info .info-header-edit {
   float: right;
   text-decoration: none;
}

/*PROFILE*/
.hero-image {
   background-size: cover;
   background-position: top center;
   background-repeat: no-repeat;
}


.hero-image .home {
   display: flex;
   align-items: center;
   min-height: 550px;
   padding: 3rem 2rem;
   max-width: 1200px;
   margin: 0 auto;
}
.hero-image .home .content {
   width: 50rem;
}
.hero-image .home .content span {
   color: #f39c12;
   font-size: 2.5rem;
}
.hero-image .home .content h3 {
   font-size: 4rem;
   text-transform: uppercase;
   margin-top: 1.5rem;
   color: var(--black);
}
.hero-image .home .content p {
   font-size: 1.6rem;
   padding: 1rem 0;
   line-height: 2;
   color: var(--light-color);
}
.hero-image .home .content a {
   display: inline-block;
   width: auto !important;
}

.title {
   text-align: center;
   font-weight: 900;
}
.title h3 {
   font-weight: 900;
   text-transform: uppercase;
}

.title span{
   color: #f39c12;
}

/*CATEGORY*/
.category {
   padding: 60px 0;
}
.category-container {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}
.category-item {
   margin: 15px 15px;
   background: #fff;
   position: relative;
   width: calc(20% - 30px);
   padding-bottom: 80px;
   border: 2px solid #000;
}
.category-item img {
   position: relative;
   width: 100%;
   height: 200px;
   -o-object-fit: cover;
   object-fit: cover;
   -o-object-position: top center;
   object-position: top center;
}
.category-item h3 {
   text-transform: uppercase;
   color: var(--black);
   padding: 1rem 0;
   font-size: 22px;
   text-align: center;
   font-weight: 700;
}
.category-item p {
   line-height: 2;
   font-size: 1.5rem;
   color: var(--light-color);
   padding: 0.5rem 0;
}
.category-item a {
   position: absolute;
   bottom: 25px;
   left: 0;
   right: 0;
   margin: 0 auto;
   width: 93%;
}

/*Featured Products*/
/*CATEGORY*/
.products {
   padding: 60px 0;
}
.products-container {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}
.products-item {
   margin: 15px 15px;
   background: #fff;
   position: relative;
   width: calc(25% - 30px);
   padding-bottom: 80px;
   border: 2px solid #000;
}
.products-item img {
   position: relative;
   width: 100%;
   height: 250px;
   -o-object-fit: cover;
   object-fit: cover;
   -o-object-position: top center;
   object-position: top center;
}
.products-item h3 {
   text-transform: uppercase;
   color: var(--black);
   padding: 1rem 0;
   font-size: 2rem;
   text-align: center;
}
.products-item p {
   line-height: 2;
   font-size: 1.5rem;
   color: var(--light-color);
   padding: 0.5rem 0;
}
.products-item a {
   position: absolute;
   bottom: 25px;
   left: 0;
   right: 0;
   margin: 0 auto;
   width: 93%;
}

.login .nav-section {
   right: 0;
   top: 0;
   position: fixed;
   padding-left: 1.5rem;
   padding-right: 1.5rem;
   padding-top: 1.5rem !important;
   padding-bottom: 1.5rem !important;
}
.login .nav-section a {
   text-decoration: none;
   color: #fff;
   font-weight: 500;
   font-size: 15px;
   text-transform: uppercase;
}
.login-container {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background: #3E9E14;
   flex-flow: row wrap;
   max-width: 100%;
   padding: 0;
}
.login-container .bg-area {
   flex: 1 1 65%;
   max-width: 100%;
   height: 100%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   position: relative;
}
.login-container .bg-area:before {
   content: "";
   width: 100%;
   max-width: 100%;
   height: 100%;
   position: absolute;
   bottom: 0;
   right: 0;
   background-repeat: no-repeat;
   background-position: -749px;
   background-size: 2000px;
   opacity: 0.2;
   background-image: url("/images/palengke.jpg");
}
.login-container .bg-area .logo-area {
   width: 185px;
   height: auto;
   position: absolute;
   top: -15px;
   left: 25px;
}
.login-container .bg-area .logo-area img {
   -o-object-fit: cover;
   object-fit: cover;
   width: 100%;
}
.login-container .form-area {
   flex: 1 1 35%;
   max-width: 50%;
}
.login-container .form-area .form-wrapper {
   width: 75%;
   margin: 0 auto;
}
.login-container .form-area .form-wrapper h1{
   color: var(--orange);
   text-transform: uppercase;
   text-shadow: 1px 1px var(--black);
}
.login-container .form-area .logo-area {
   width: 320px;
   height: auto;
   margin: 0 auto;
}
.login-container .form-area .logo-area img {
   -o-object-fit: cover;
   object-fit: cover;
   width: 100%;
}
.login-container .form-area label {
   color: #fff;
   font-weight: 600;
   font-size: 15px;
}

.grid {
   margin: 0 auto;
   padding: 25px 50px;
}
.grid-wrapper {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
}
.grid-item {
   flex: 1 1 calc(25% - 15px);
   max-width: calc(25% - 15px);
   margin: 15px 15px;
   background: #fff;
   border: 1px solid #000;
   box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
   padding: 10px;
}
.grid-item-thumbnail {
   height: 250px;
}
.grid-item-thumbnail img {
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}
.grid-item-details {
   border: 1px solid #000;
   margin-top: 0;
   margin-bottom: 1rem;
   text-align: center;
   text-decoration: none;
   color: black;
   font-size: 15px;
}
.grid-item p{
   margin-top: 0;
   margin-bottom: 0;
}

.stall-info {
   display: flex;
   flex-flow: row wrap;
}
.stall-info-title-container {
   width: 25%;
}
.stall-info-container {
   width: 50%;
   padding-left: 25px;
}
.stall-gallery-container {
   width: 50%;
   padding-right: 25px;
}



/*
.stall-gallery{
display: flex;
}*/
.stall-img {
   width: 100%;
   height: 350px;
   /* margin: 0 15px; */
   /* border: 11px solid #fff;*/
}
.stall-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.stall-main-img {
  width: 100%;
  height: 350px;
  /* margin: 0 15px; */
   border: 1px solid #fff;
}
.stall-main-img img {
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
   -o-object-position: center;
   object-position: center;
}

#slide-nav .stall-img {
   height: 120px;
   border: 2px solid #fff;
   margin: 0 15px;
}

#slide-nav .stall-img img {
   -o-object-fit: cover;
   object-fit: cover;
   width: 100%;
   -o-object-position: center;
   object-position: center;
}


.table{
   font-size: 17px;
   text-align: center;
}

.long{
   width: 100%;
}

.short{
   width: 50%;
}

.medium{
   width: 75%;
}

.xshort{
   width: 25%;
}

.hide{
   display: none;
}

.nav-arrows{
   position: absolute;
   top: 25%;
   font-size: 50px;
   color: #3e9e14;
   z-index: 999
}

.nav-arrows.arrow-right{
   right: 0
}
.nav-arrows.arrow-left{

   left: 0
}

.info-body-flex {
   display: flex;
   flex-flow: row wrap;
   margin-bottom: 25px;
}

.list-header{
   display: flex;
   width: 100%;
   flex-flow: row wrap;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 15px;
}

.navbar.fixed{
   background:white !important;
   z-index: 999;
}

.logo-area img{
   width: 150px;
   height: 100%;
   object-fit: cover;
}

.navbar ul{
   justify-content: flex-end;
   width: 65%;
   margin-left: auto;
}

.navbar .nav-item a{
   color: #fff !important;
   font-size: 18px !important;
   padding: 0 25px;
   text-shadow: 1px 1px black;
}

.navbar.fixed .nav-item a{
   color: #000 !important;
   text-shadow: unset;

}

.navbar-nav{
   width: 100%;
   text-align: center;
}

.nav-item{
   flex: 1 1 auto;
}






.slick-slide {
   text-align: center;
   color: #419be0;
   background: white;
}


.home-category{
   max-width: 100% !important;
}

.box-container {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
}

.box-container .box-item {

   flex: 1 1 20%;
   min-height: 450px;
   text-align: center;
   background-size: cover;
   background-position: bottom;
   background-repeat: no-repeat;
   height: 100%;
   padding-bottom: 80px;
   position: relative;
}




.box-item .overlay {

   background-color: #2f4c228a;
   position: absolute;
   top:0;
   bottom: 0;
   height: 100%;
   width: 100%;
   transition: all ease-in-out .50s;
}

.box-item:hover .overlay {
   background-color: transparent;
}
.box-item a {
   position: absolute;
   bottom: 25px;
   left: 0;
   right: 0;
   margin: 0 auto;
   width: 93%;
}

.box-item img{
   width: 100%;
   margin-bottom: 1rem;
}

.box-item h3{
   text-transform: uppercase;
   color:var(--black);
   padding:1rem 0;
   font-size: 2rem;
}

.box-item p{
   line-height: 2;
   font-size: 1.5rem;
   color:var(--light-color);
   padding:.5rem 0;
}

.home-category{
   padding-bottom: 0;
}

.form-wrapper h3{
   font-size: 2rem;
}

.btn-container{
   padding: 5px 18px;
}

.btn-container button{
   padding: 8px;
   font-size: 12px;
}

.info-header-edit{
   bottom: -28px;
   position: absolute;
   right: 27px;
   font-size: 35px;
   text-decoration: none !important
}


.list-header .list-header-fields{
   display: flex;
   flex-flow: row wrap;
   width: 480px;
   justify-content: flex-end;
}

.list-header .list-header-fields .form-group{
   flex: 1 1 auto;
   display: flex;
   align-items: center;
   max-width: 50%;
   padding: 10px 10px;
}

.list-header select, .list-header input{

   max-width: 240px;
}
.list-header .list-header-fields > div{
   flex: 1 1 auto
}
